<!DOCTYPE html>
<html> 
<head> 
	<title> 
Practice Arabic | Learn Arabic | Arabic to English phrases 
	</title> 
      <meta name="description" content="The only way to learn arabic is to practice. This site has collections of arabic phrases to help you improve your skills">	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
<script src="static/gAnalytics.js"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head> 

<body>
<div data-role="page" data-ajax="false">
<div role="main" class="ui-content">
 
<h1 class="ar1"> بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم </h1>
<br>
<p> Search from Arabic-English phrases repo.  type either Arabic / English word to find any phrase.
<br>

<form method="get" data-ajax="false" action="search">
    <table>
        <tr>
            <td><input type="text" name="txt" /></td>
            <td><input type="submit" value="Search"/></td>
        </tr>
    </table>
</form>

<form method="get" data-ajax="false" action="morphology">
    <table>
        <tr>
            <td><input type="text" name="txt" /></td>
            <td><input type="submit" value="morphology"/></td>
        </tr>
    </table>
</form>

<br>
<h2>Learning arabic ?</h2>
<p>
There is no need to explain the importance of learning Arabic here. Many of us learn the language at basic level and want to improve upon it to master it.  The only way for this is to work hard, have patience and practice , practice, practice.

Ma`sha-allah this site has collections of Arabic - English phrases.  Each of the below sections provides random 15 phrases from the repository. You can simply go through each and take a test on those phrases. Insha-allah everyday practice for 5-10 mins will give you greater  edge on learning.
Alhamdulillah you can access this site from your mobile too. 
</p>
<br>
<h4>NEW</h4><p> Learn while you are driving, by guessing the translations</p>
<a href="guess" data-ajax="false">Guess the translation </a>
<br>
<br>
<h4>TEST</h4>
<a href="test?txt=l1" data-ajax="false">Basic level </a>
<br>
<a href="test?txt=l2" data-ajax="false">Intermediate level  </a>
<br>
<a href="test?txt=trans" data-ajax="false">Advanced level </a>
<br>
<a href="test" data-ajax="false"> all </a>
<br>

Please check this link if you want to learn arabic. Go to the first blog posted.
<br>
<a href="static/Arabic_tutorial.html" data-ajax="false"> arabic foundation quick start </a>
<br>


Basic arabic practice from quran for novice learners:
<a href="test?txt=qlevel1" data-ajax="false"> quran arabic level one </a>


<br>
<br>
Below sites have been very useful in learning Arabic.
<br>
<a href="http://ejtaal.net/islam/arabic.html"> ejtaal.net </a>  and its mobile version here <a href="static/ejtaal/ejtaal.net/islam/arabic.html" data-ajax="false">m.ejtaal </a>
<br>
<a href="http://toolstolearnarabic.blogspot.in/2010/04/pdf-36-arabic-stories-for-kids-for.html"> arabic stories </a>
<br>

</div><!-- /content -->
</div><!-- /page -->
</body>

</html>
