<!DOCTYPE html>
<html> 
<head> 
	<title> 
Arabic-english example repo
	</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.2.1/jquery.mobile-1.2.1.min.js"></script>
</head> 

<body> 
<h1 class="ar1"> بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم </h1>
<br>
<br>
<br>

<form method="get" action="search">
<table>
<tr>
<td><input type="text" name="txt" /></td>
<td><input type="submit" value="Search"/></td>
</tr>
</table>
</form>


<br>
<br>
<h4>Learning arabic ?</h4>


<p>
This site provides collection of arabic-english phrases for people who are in intermediate level of arabic learning. Goto <a href="test">test</a> page to take sample test on arabic tests everyday to practice some arabic. Search above any phrase on particular word in english or arabic.
</p>

</body>

</html>
