<!DOCTYPE html>
<html> 
<head> 
	<title> 
Arabic-english example repo
	</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head> 

<body> 
<h1 class="ar1"> بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيم </h1>
<br>
<p> Search from Arabic-English phrases repo.  type either Arabic / English word to find any phrase.
<br>

<form method="get" data-ajax="false" action="search">
<table>
<tr>
<td><input type="text" name="txt" /></td>
<td><input type="submit" value="Search"/></td>
</tr>
</table>
</form>


<br>
<h4>Learning arabic ?</h4>
<p>
There is no need to explain the importance of learning Arabic here. Many of us learn the language at basic level and want to improve upon it to master it.  The only way for this is to work hard, have patience and practice , practice, practice.

Ma`sha-allah this site has collections of Arabic - English phrases.  Each of the below sections provides random 15 phrases from the repository. You can simply go through each and take a test on those phrases. Insha-allah everyday practice for 5-10 mins will give you greater  edge on learning.
Alhamdulillah you can access this site from your mobile too. 
<br>
<a href="test?txt=level1" data-ajax="false">Basic level </a>
<br>
<a href="test?txt=level2" data-ajax="false">Intermediate level  </a>
<br>
<a href="test?txt=level3" data-ajax="false">Advanced level </a>
<br>
<a href="test" data-ajax="false"> all </a>
<br>

Below sites have been very useful in learning Arabic.
<br>
<a href="http://ejtaal.net/islam/arabic.html"> ejtaal.net </a>
<br>
<a href="http://toolstolearnarabic.blogspot.in/2010/04/pdf-36-arabic-stories-for-kids-for.html"> arabic stories </a>
<br>

</p>
</body>

</html>
