$def with (todos)
<head>
<title> 
Search Arabic phrases   
</title>
 <meta name="description" content="Search Arabic phrases from this site">
  

        <link rel="stylesheet" type="text/css" href="static/styles.css" media="screen" />
<script src="static/gAnalytics.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
	<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<ul class="ui-listview ui-shadow tab" data-role="listview" data-inset="true">
$for todo in todos:
    <li>
    <h2 class="ar1">$todo.question</h2>
    <p ><strong>$todo.answer</strong></p>
    </li>

</ul>

<br>
<br>

