$def with (todos,ismobile)
<!DOCTYPE html> 
<html> 
	<head> 
<title> 
Arabic-english phrase test 
 </title>
	
       <link rel="stylesheet" type="text/css" href="static/styles.css" media="screen" />
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
<script>
// Your list of questions. Each question has an answer (either a,b or c)
// and then a set of "options" in the question
var   qalist = [
$for todo in todos: 
       {'q': '$todo.question' , 'a': '$todo.answer'},
];
</script>
<script src="static/maketest.js">
</script>
</head> 
<body> 

$if ismobile:
    <div data-role="page" id="zero">
    <div data-role="content">
        <div>
          <p>  </p>
         <ul data-role="listview"  data-theme="c" data-dividertheme="d">
           <li data-theme="a"><a href="#one" > Take test </a></li>
           <li><a href="#two"> Practice A-E</a></li>	
           <li><a href="#three"> Practice E-A</a></li>
           <li><a href="test" data-ajax="false"> Load new test</a></li>
         </ul>
        </div>	
    </div><!-- /content -->
    </div><!-- /page -->

<div data-role="page" id="one">

  <div data-role="header" data-theme="c">
      <h1>Test : translate the following</h1>
   </div><!-- /header -->

  <div data-role="content">
     <div style="width: 100%; overflow: hidden;">	

         <div id="quiz" 
         $if not ismobile:
           class="cont-prim">
         </div>
$if not ismobile:
        <div class="cont-sec">
          <p>  </p>
         <ul data-role="listview"  data-theme="c" data-dividertheme="d">
           <li data-theme="a"><a href="#one" > Take test </a></li>
           <li><a href="#two"> Practice A-E</a></li>	
           <li><a href="#three"> Practice E-A</a></li>
           <li><a href="test" data-ajax="false"> Load new test</a></li>
         </ul>
        </div>	
    </div>
  </div><!-- /content -->
</div><!-- /page -->

<div data-role="page" id="two">

   <div data-role="header" data-theme="c">
     <h1>Practice Arabic to English</h1>
   </div><!-- /header -->

   <div data-role="content">	
     <div style="width: 100%; overflow: hidden;">	
      <div id="a_e" class="cont-prim">
      </div>

$if not ismobile:
      <div class="cont-sec">
          <p>  </p>
       <ul data-role="listview"  data-theme="c" data-dividertheme="d">
        <li><a href="#one" > Take test </a></li>
        <li data-theme="a"><a href="#two"> Practice A-E</a></li>	
        <li><a href="#three"> Practice E-A</a></li>
        <li><a href="test" data-ajax="false"> Load new test</a></li>
       </ul>
      </div>	
     </div> 
   </div><!-- /content -->
</div><!-- /page -->


<div data-role="page" id="three">

   <div data-role="header" data-theme="c">
     <h1>Practice English to Arabic</h1>
   </div><!-- /header -->

   <div data-role="content">	
     <div style="width: 100%; overflow: hidden;">	
      <div id="e_a" class="cont-prim">
      </div>

$if not ismobile:
      <div class="cont-sec">
          <p>  </p>
        <ul data-role="listview"  data-theme="c" data-dividertheme="d">
         <li><a href="#one" > Take test </a></li>
         <li><a href="#two"> Practice A-E</a></li>	
         <li data-theme="a"><a href="#three"> Practice E-A</a></li>
         <li><a href="test" data-ajax="false"> Load new test</a></li>
       </ul>
      </div>	
     </div>	
   </div><!-- /content -->
</div><!-- /page -->
 
<div data-role="dialog" id="scorepopup" >
  <div data-role="header">
  <h3>Score</h3>
   </div>
   <div data-role="content">
   <div id="scorediv">
   </div> 
   <button data-role="button" id="retest">retest</button>
   <a href="test" data-role="button" data-ajax="false" id="lnt">load new test</a>
   </div> 
</div>

<div data-role="dialog" id="warning" >
   <div data-role="header">
    <h3>Missing !!</h3>
   </div>
   <div data-role="content">
   <div id="missdiv">
   </div> 
    <button data-role="button" data-mini="true" data-inline="true" id="missback">ok</button>
   </div> 
</div>


</body>
</html>
