$def with (todos)
<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
<script>
// Your list of questions. Each question has an answer (either a,b or c)
// and then a set of "options" in the question
var   qalist = [
$for todo in todos: 
       {'q': '$todo.question' , 'a': '$todo.answer'},
];
</script>
<script src="static/maketest.js">
</script>
</head> 
<body> 

<div data-role="page" id="one">

<div data-role="header">
<h1>Test : translate the following</h1>
</div><!-- /header -->

<div id="quiz"  data-role="content">	
</div><!-- /content -->
</div><!-- /page -->

<div data-role="dialog" id="scorepopup" >
<div data-role="header">
<h3>Score</h3>
</div>
<div data-role="content">
<div id="scorediv">
</div> 
<button data-role="button" data-mini="true" data-inline="true" id="retest">retest</button>
<a href="test" data-role="button" data-mini="true" data-inline="true" id="lnt">load new test</a>
</div> 
</div>

<div data-role="dialog" id="warning" >
<div data-role="header">
<h3>Missing !!</h3>
</div>
<div data-role="content">
<div id="missdiv">
</div> 
<button data-role="button" data-mini="true" data-inline="true" id="missback">ok</button>
</div> 
</div>


</body>
</html>
