<!-- CSS goes in the document HEAD or added to your external stylesheet -->
<style type="text/css">

table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:18px;
	color:#000000;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #99cc00;
}
table.gridtable td {
	border-width: 1px;
	font-size:22px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
.arab{
  background-color:#33CC33;
  font-family: "Traditional Arabic", serif;  
}
</style>
